html, body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.planet-info {
    display: inline-block;
    width: 250px;
    border: 1px dotted cornflowerblue;
    vertical-align: top;
    height: 37%;
    overflow-y: auto;
}

#objects-wrapper {
    max-height: 63%;
}

#objects {
    max-height: 63%;
    overflow-y: auto;
}

.nav-selected {
    color: white;
    background-color: cornflowerblue;
    font-weight: 400;
    border-radius: 5px;
}

.object-group-nav-item {
    padding: 0 5px;
}

#left-div {
    width: 280px;
    height: 100%;
    padding: 0 10px;
    float: left;
    overflow-y: auto;
    overflow-x: hidden;
}

.resource-panel button{
    margin-top: 1px;
    width: 100%;
    text-align: left;
    padding: .125rem .75rem;
}

.object-switch {
    float: right;
}

.object-switch .btn{
    font-size: smaller;
    padding: .175rem .75rem;
}

.object-area {
    width: 250px;
    height: 85px;
    border: 1px solid black;
    margin: 10px 10px 0 0;
    padding: 2px;
    vertical-align: top;
    display: inline-block;
    font-size: small;
    line-height: 1em;
}

.object-area.can-purchase {
    background-color: yellowgreen;
}