#planet-tiles, #discovered-tiles, #planet-resources {
    display: inline-block;
    width: 250px;
    border: 1px dotted cornflowerblue;
    margin: 25px 0 0 0;
}

#objects {
    overflow-y: auto;
    max-height: 500px;
}

#left-div {
    width: 300px;
    height: 100%;
    padding: 0 25px;
    float: left;
    overflow-y: auto;
}

#resources button, #non-accumulative-resources button {
    margin-top: 7px;
    width: 100%;
    text-align: left;
}

.object-switch {
    float: right;
}

.object-switch .btn{
    font-size: smaller;
    padding: .175rem .75rem;
}

.object-group {
    overflow-x: auto;
    white-space: nowrap;
}

.object-area div {
    white-space: normal;
}

.object-area {
    width: 250px;
    border: 1px solid black;
    margin: 10px 10px 0 0;
    padding: 2px;
    display: inline-block;
    font-size: small;
    line-height: 1em;
    
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

.object-area.can-purchase {
    background-color: yellowgreen;
}